global
    log stdout format raw local0

defaults
    mode http
    timeout connect 10s
    timeout client 1h
    timeout server 1h
    timeout tunnel 1h

frontend https_in
    bind *:443 ssl crt /usr/local/etc/haproxy/certs/virtroid.pem alpn http/1.1
    http-request del-header Forwarded
    http-request del-header X-Forwarded-For
    http-request del-header X-Real-IP

    acl relay_connect method CONNECT
    acl relay_path path_beg /api/v1/relay/
    use_backend virtnoded_relay if relay_connect
    use_backend virtnoded_relay if relay_path
    default_backend virtroidd_api

backend virtroidd_api
    server virtroidd virtroidd:8080 check

backend virtnoded_relay
    server virtnoded virtnoded:8090 check
